vendor/etc/dts/dts-eagle.lic
recovery.img
system_ext/partner-app/NubiaHuya/NubiaHuya.apk
system_ext/partner-app/NubiaBaiduSearch/NubiaBaiduSearch.apk
system_ext/partner-app/ExternDevice_RedMagic/ExternDevice_RedMagic.apk
system_ext/preinstallapp/Weibo_RedMagic/Weibo_RedMagic.apk
system_ext/preinstallapp/Weibo_RedMagic/oat/arm64/Weibo_RedMagic.vdex
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/priv-app/GmsCore/GmsCore.apk
system/system/etc/faceclassifier/faceclassifier.dlc
system/system/priv-app/NubiaRedmagickyi_RedMagic/NubiaRedmagickyi_RedMagic.apk
system/system/priv-app/Nubia_PhotoEditor_myos14/Nubia_PhotoEditor_myos14.apk
system/system/priv-app/GameSpace-nubia_magic/GameSpace-nubia_magic.apk
system/system/priv-app/InspiredWallpaper_RedMagic/InspiredWallpaper_RedMagic.apk
system/system/priv-app/Gallery_NubiaCloud/Gallery_NubiaCloud.apk
system/system/priv-app/NubiaCamera/NubiaCamera.apk
system/system/lib64/libzteFaceRecognitionModels.so
modem.img
bootRE/boot.elf
